# For dependency management
pip-tools

# Middleware for whitenoise/static files.
whitenoise  # https://github.com/evansd/whitenoise
# Login via oauth
oauthlib  # https://github.com/oauthlib/oauthlib

# Password hashing
argon2-cffi # https://github.com/hynek/argon2_cffi

django>=4.2,<5.0  # pyup: < 3.3  # https://www.djangoproject.com/
# Read from .env files
# Note that django-environ 0.11+ introduces a bug where secret keys are truncated if they have a #
# https://github.com/joke2k/django-environ/issues/497
django-environ<0.11.0  # https://github.com/joke2k/django-environ
# Turn on and off maintenance mode
# 0.21.1 fixes a bug with permissions of the maintenance mode file.
django-maintenance-mode>=0.21.1 # https://github.com/fabiocaccamo/django-maintenance-mode
# Model utilities
django-model-utils  # https://github.com/jazzband/django-model-utils
# login/auth via Drupal or other Social Application
# 0.56 adds requirement for middleware - we can update later.
django-allauth  # https://github.com/pennersr/django-allauth
# Nicer forms
django-crispy-forms  # https://github.com/django-crispy-forms/django-crispy-forms
# Protect all iews behind LoginRequired
django-login-required-middleware # https://github.com/CleitonDeLima/django-login-required-middleware
# Back up the database before migrations/updates
django-dbbackup # https://github.com/jazzband/django-dbbackup
# Time stamped models.
django-extensions  # https://github.com/django-extensions/django-extensions
# Bootstrap5 templates for crispy-forms
crispy-bootstrap5  # https://github.com/django-crispy-forms/crispy-bootstrap5

django-anvil-consortium-manager @ git+https://github.com/UW-GAC/django-anvil-consortium-manager.git@v0.23
# Simple history - model history tracking
django-simple-history

# mysql
# Pinned because versions >=2.2 require pkg-config.
mysqlclient # https://github.com/PyMySQL/mysqlclient

# Required for django < 4.2 and django-simple-history is updated.
# See issue https://github.com/jazzband/django-simple-history/issues/1255
asgiref>=3.6

# Temporary fixes to handle security vulnerabilities
certifi>=2023.7.22
pyjwt>=2.4.0
sqlparse>=0.4.4
idna>=3.7
urllib3>=2.2.2
requests>=2.32.0

# Dynamic settings
django-constance
django-picklefield  # Required by django-constance for database backend
