{% extends "anvil_consortium_manager/workspace_detail.html" %}

{% block workspace_data %}
  <hr>
  <dl class="row">

    <dt class="col-sm-2">Upload cycle</dt>
    <dd class="col-sm-10">
        <a href="{{object.dccprocesseddataworkspace.upload_cycle.get_absolute_url }}">{{ object.dccprocesseddataworkspace.upload_cycle }}</a><br>
    </dd>

    <dt class="col-sm-2">Consent group</dt> <dd class="col-sm-10">
      {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
        <a href="{{ workspace_data_object.consent_group.get_absolute_url }}">{{ workspace_data_object.consent_group }}</a>
      {% else %}
        {{ workspace_data_object.consent_group }}
      {% endif %}
    </dd>

  </dl>
{% endblock workspace_data %}

{% block action_buttons %}
{% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
<p>
  <a href="{% url 'gregor_anvil:audit:dcc_processed_data_workspaces:sharing:by_workspace' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-secondary" role="button">
    Audit consortium sharing
  </a>
</p>
{% endif %}

{{ block.super }}
{% endblock action_buttons %}
