{% extends "anvil_consortium_manager/workspace_detail.html" %}

{% block workspace_data %}
  <hr>
  <dl class="row">
    <dt class="col-sm-2">Consent group</dt> <dd class="col-sm-10"><a href="{{ object.uploadworkspace.consent_group.get_absolute_url }}">{{ object.releaseworkspace.consent_group }}</a></dd>
    <dt class="col-sm-2">dbGaP accession</dt> <dd class="col-sm-10">{{ object.releaseworkspace.get_dbgap_accession }}</dd>
    <dt class="col-sm-2">Upload workspaces</dt> <dd class="col-sm-10">
      {% for upload_workspace in object.releaseworkspace.upload_workspaces.all %}
        <a href="{{upload_workspace.get_absolute_url }}">{{ upload_workspace }}</a><br>
      {% endfor %}
    </dd>
  </dl>
{% endblock workspace_data %}

{% block after_panel %}
<div class="my-3">
  <div class="accordion" id="accordionGroupsDUL">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingDUL">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDUL" aria-expanded="true" aria-controls="collapseDUL">
          <span class="fa-solid fa-list-check mx-2"></span>
          Full data use limitations
        </button>
      </h2>
      <div id="collapseDUL" class="accordion-collapse collapse show" aria-labelledby="headingDUL" data-bs-parent="#accordionDUL">
        <div class="accordion-body">
          {{ object.releaseworkspace.full_data_use_limitations }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ block.super }}
{% endblock after_panel %}
