{% extends "anvil_consortium_manager/workspace_detail.html" %}
{% load render_table from django_tables2 %}

{% block workspace_data %}
  <hr>
  <dl class="row">

    <dt class="col-sm-2">Consent group</dt> <dd class="col-sm-10">
      {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
        <a href="{{ workspace_data_object.consent_group.get_absolute_url }}">{{ workspace_data_object.consent_group }}</a>
      {% else %}
        {{ workspace_data_object.consent_group }}
      {% endif %}
    </dd>

    <dt class="col-sm-2">dbGaP accession</dt> <dd class="col-sm-10">{{ object.releaseworkspace.get_dbgap_accession }}</dd>
    <dt class="col-sm-2">Upload cycle</dt> <dd class="col-sm-10"><a href="{{ object.releaseworkspace.upload_cycle.get_absolute_url }}">{{ object.releaseworkspace.upload_cycle }}</a></dd>
  </dl>
{% endblock workspace_data %}

{% block after_panel %}

{{ block.super }}

<div class="my-3">
  <div class="accordion" id="accordionGroupsDUL">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingDUL">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDUL" aria-expanded="true" aria-controls="collapseDUL">
          <span class="fa-solid fa-list-check mx-2"></span>
          Full data use limitations
        </button>
      </h2>
      <div id="collapseDUL" class="accordion-collapse collapse show" aria-labelledby="headingDUL" data-bs-parent="#accordionDUL">
        <div class="accordion-body">
          {{ object.releaseworkspace.full_data_use_limitations }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordionContributingUploadWorkspaces">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContributingUploadWorkspaces" aria-expanded="true" aria-controls="collapseContributingUploadWorkspaces">
        <span class="fa-solid fa-puzzle-piece mx-2"></span>
        Contributing Upload workspaces
        <span class="badge mx-2 {% if contributing_upload_workspace_table.rows|length %}bg-primary{% else %}bg-secondary{% endif %} pill"> {{ contributing_upload_workspace_table.rows|length }}</span>
      </button>
    </h2>
    <div id="collapseContributingUploadWorkspaces" class="accordion-collapse collapse" data-bs-parent="#accordionContributingUploadWorkspaces">
      <div class="accordion-body">
        {% render_table contributing_upload_workspace_table %}
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordionContributingDCCProcessedDataWorkspaces">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContributingDCCProcessedDataWorkspaces" aria-expanded="true" aria-controls="collapseContributingDCCProcessedDataWorkspaces">
        <span class="fa-solid fa-puzzle-piece mx-2"></span>
        Contributing DCC Processed Data workspaces
        <span class="badge mx-2 {% if contributing_dcc_processed_data_workspace_table.rows|length %}bg-primary{% else %}bg-secondary{% endif %} pill"> {{ contributing_dcc_processed_data_workspace_table.rows|length }}</span>
      </button>
    </h2>
    <div id="collapseContributingDCCProcessedDataWorkspaces" class="accordion-collapse collapse" data-bs-parent="#accordionContributingDCCProcessedDataWorkspaces">
      <div class="accordion-body">
        {% render_table contributing_dcc_processed_data_workspace_table %}
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-3" id="accordionContributingPartnerUploadWorkspaces">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContributingPartnerUploadWorkspaces" aria-expanded="true" aria-controls="collapseContributingPartnerUploadWorkspaces">
        <span class="fa-solid fa-puzzle-piece mx-2"></span>
        Contributing Partner Upload workspaces
        <span class="badge mx-2 {% if contributing_partner_upload_workspace_table.rows|length %}bg-primary{% else %}bg-secondary{% endif %} pill"> {{ contributing_partner_upload_workspace_table.rows|length }}</span>
      </button>
    </h2>
    <div id="collapseContributingPartnerUploadWorkspaces" class="accordion-collapse collapse" data-bs-parent="#accordionContributingPartnerUploadWorkspaces">
      <div class="accordion-body">
        {% render_table contributing_partner_upload_workspace_table %}
      </div>
    </div>
  </div>
</div>

{% endblock after_panel %}


{% block action_buttons %}
{% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
<p>
  <a href="{% url 'gregor_anvil:release_workspaces:update:contributing_workspaces' billing_project_slug=object.billing_project.name workspace_slug=object.name %}" class="btn btn-secondary" role="button">
    Update contributing workspaces
  </a>
</p>
{% endif %}

{{ block.super }}
{% endblock action_buttons %}
