{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load render_table from django_tables2 %}

{% block title %}Upload Cycle: {{ object }}{% endblock %}

{% block note %}

  <div class="alert alert-{% if object.is_current %}success{% else %}danger{% endif %}" role="alert">
    This is {% if object.is_current %}the current{% elif object.is_past %}a past{% else %}a future{% endif %} upload cycle.
  </div>

  {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view and object.note %}
  <div class="alert alert-secondary my-3" role="alert">
    <b>Note</b>: {{ object.note }}
  </div>
  {% endif %}
{% endblock note %}

{% block panel %}
  <ul>
    <li>Cycle: {{ object.cycle }}</li>
    <li>Start date: {{ object.start_date }}</li>
    <li>End date: {{ object.end_date }}</li>
    <li>
      Date ready for compute:
      {% if object.date_ready_for_compute %}
        {{ object.date_ready_for_compute }}
      {% else %}
        &mdash;
      {% endif %}
    </li>
  </ul>
{% endblock panel %}

{% block after_panel %}

<p>
  The expandable tables below show information about workspaces associated with this upload cycle.
  Workspaces are separated by type into different tables.
  Click on each box to see a table of workspaces of that type.
  Within the table for a workspace type, click on the name of a workspace within a table to see more information about that workspace.
</p>

<div class="accordion mb-3" id="accordionCombined">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCombined" aria-expanded="true" aria-controls="collapseCombined">
        <span class="fa-solid fa-layer-group mx-2"></span>
        Combined consortium data workspaces
        <span class="badge mx-2 {% if tables.1.rows|length %}bg-primary{% else %}bg-secondary{% endif %} pill"> {{ tables.1.rows|length }}</span>
      </button>
    </h2>
    <div id="collapseCombined" class="accordion-collapse collapse show" data-bs-parent="#accordionCombined">
      <div class="accordion-body">
        {% render_table tables.1 %}
      </div>
    </div>
  </div>
</div>


<div class="accordion mb-3" id="accordionUpload">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUpload" aria-expanded="true" aria-controls="collapseUpload">
        <span class="fa-solid fa-cloud-arrow-up mx-2"></span>
        Upload workspaces
        <span class="badge mx-2 {% if tables.0.rows|length %}bg-primary{% else %}bg-secondary{% endif %} pill"> {{ tables.0.rows|length }}</span>
      </button>
    </h2>
    <div id="collapseUpload" class="accordion-collapse collapse show" data-bs-parent="#accordionUpload">
      <div class="accordion-body">
        {% render_table tables.0 %}
      </div>
    </div>
  </div>
</div>

{% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
<div class="accordion mb-3" id="accordionDccProcessing">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDccProcessing" aria-expanded="true" aria-controls="collapseDccProcessing">
        <span class="fa-solid fa-hourglass-half mx-2"></span>
        DCC processing workspaces
        <span class="badge mx-2 {% if tables.3.rows|length %}bg-primary{% else %}bg-secondary{% endif %} pill"> {{ tables.3.rows|length }}</span>
      </button>
    </h2>
    <div id="collapseDccProcessing" class="accordion-collapse collapse show" data-bs-parent="#accordionDccProcessing">
      <div class="accordion-body">
        {% render_table tables.3 %}
      </div>
    </div>
  </div>
</div>


<div class="accordion mb-3" id="accordionDccProcessedData">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDccProcessedData" aria-expanded="true" aria-controls="collapseDccProcessedData">
        <span class="fa-solid fa-hourglass-end mx-2"></span>
        DCC processed data workspaces
        <span class="badge mx-2 {% if tables.4.rows|length %}bg-primary{% else %}bg-secondary{% endif %} pill"> {{ tables.4.rows|length }}</span>
      </button>
    </h2>
    <div id="collapseDccProcessedData" class="accordion-collapse collapse show" data-bs-parent="#accordionDccProcessedData">
      <div class="accordion-body">
        {% render_table tables.4 %}
      </div>
    </div>
  </div>
</div>


<div class="accordion mb-3" id="accordionReleasePrep">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReleasePrep" aria-expanded="true" aria-controls="collapseReleasePrep">
        <span class="fa-solid fa-spinner mx-2"></span>
        Release prep workspaces
        <span class="badge mx-2 {% if tables.2.rows|length %}bg-primary{% else %}bg-secondary{% endif %} pill"> {{ tables.2.rows|length }}</span>
      </button>
    </h2>
    <div id="collapseReleasePrep" class="accordion-collapse collapse show" data-bs-parent="#accordionReleasePrep">
      <div class="accordion-body">
        {% render_table tables.2 %}
      </div>
    </div>
  </div>
</div>


<div class="accordion mb-3" id="accordionPartner">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartner" aria-expanded="true" aria-controls="collapsePartner">
        <span class="fa-solid fa-handshake mx-2"></span>
        Partner upload workspaces
        <span class="badge mx-2 {% if tables.5.rows|length %}bg-primary{% else %}bg-secondary{% endif %} pill"> {{ tables.5.rows|length }}</span>
      </button>
    </h2>
    <div id="collapsePartner" class="accordion-collapse collapse show" data-bs-parent="#accordionPartner">
      <div class="accordion-body">
        {% render_table tables.5 %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock after_panel %}

{% block action_buttons %}
{% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
  <p>
    <a href="{% url 'gregor_anvil:upload_cycles:update' slug=object.cycle %}" class="btn btn-secondary" role="button">
      Update
    </a>
  </p>
  {% endif %}
{% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
  <p>

    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Audit consortium sharing
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'gregor_anvil:audit:upload_workspaces:sharing:by_upload_cycle' cycle=object.cycle %}">Upload workspaces</a></li>
        <li><a class="dropdown-item" href="{% url 'gregor_anvil:audit:dcc_processed_data_workspaces:sharing:by_upload_cycle' cycle=object.cycle %}">DCC processed data workspaces</a></li>
      </ul>
    </div>

    <a href="{% url 'gregor_anvil:audit:upload_workspaces:auth_domains:by_upload_cycle' cycle=object.cycle %}" class="btn btn-secondary" role="button">
    Audit upload workspace auth domains
  </a>
  </p>
{% endif %}
{% endblock action_buttons %}
