<div>
    {% if record.action %}
    <form
        method="post"
        action="{% url 'gregor_anvil:audit:upload_workspaces:resolve' record.workspace.workspace.billing_project.name record.workspace.workspace.name record.managed_group.name %}">

        {% csrf_token %}
        <button
            type="submit"
            class="btn btn-primary btn-sm"
            hx-post="{% url 'gregor_anvil:audit:upload_workspaces:resolve' record.workspace.workspace.billing_project.name record.workspace.workspace.name record.managed_group.name %}"
            hx-disabled-elt="this"
            hx-target="closest div"
            hx-swap="innerHTML">
            {{ record.action }}
        </button>
      </form>

    {% else %}
    &mdash;
    {% endif %}
</div>
